# NHANES raw data: public but not redistributed here. Run `nhanes-diabetes download`.
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
*.XPT
*.xpt
*.duckdb

# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
.env
.venv/
venv/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
.coverage.*
coverage.xml

# R
.Rhistory
.RData

# OS and editors
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
